<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="GYM.Properties.Settings.GymConnectionString" connectionString="Data Source=AMINA;Initial Catalog=Gym;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="GymEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AMINA;initial catalog=Gym;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GymEntities1" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AMINA;initial catalog=Gym;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GymEntities2" connectionString="metadata=res://*/Baza.csdl|res://*/Baza.ssdl|res://*/Baza.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AMINA;initial catalog=Gym;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GymEntities3" connectionString="metadata=res://*/Baza.csdl|res://*/Baza.ssdl|res://*/Baza.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-L1JRQG0;initial catalog=Gym;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GymEntities4" connectionString="metadata=res://*/Baza.csdl|res://*/Baza.ssdl|res://*/Baza.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AMINA;initial catalog=Gym;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GymEntities5" connectionString="metadata=res://*/Baza.csdl|res://*/Baza.ssdl|res://*/Baza.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AMINA;initial catalog=Gym;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GymEntities6" connectionString="metadata=res://*/Baza.csdl|res://*/Baza.ssdl|res://*/Baza.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AMINA;initial catalog=Gym;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GymEntities7" connectionString="metadata=res://*/Baza.csdl|res://*/Baza.ssdl|res://*/Baza.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AMINA;initial catalog=Gym;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GymEntities8" connectionString="metadata=res://*/Baza.csdl|res://*/Baza.ssdl|res://*/Baza.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AMINA;initial catalog=Gym;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GymEntities9" connectionString="metadata=res://*/Baza.csdl|res://*/Baza.ssdl|res://*/Baza.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AMINA;initial catalog=Gym;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GymEntities10" connectionString="metadata=res://*/Baza.csdl|res://*/Baza.ssdl|res://*/Baza.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AMINA;initial catalog=Gym;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GymEntities11" connectionString="metadata=res://*/Baza.csdl|res://*/Baza.ssdl|res://*/Baza.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-L1JRQG0;initial catalog=Gym;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GymEntities12" connectionString="metadata=res://*/Baza.csdl|res://*/Baza.ssdl|res://*/Baza.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-L1JRQG0;initial catalog=Gym;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GymNEntities" connectionString="metadata=res://*/Veza.csdl|res://*/Veza.ssdl|res://*/Veza.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-L1JRQG0;initial catalog=GymN;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GymNEntities1" connectionString="metadata=res://*/Baza.csdl|res://*/Baza.ssdl|res://*/Baza.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-L1JRQG0;initial catalog=GymN;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>